<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Eng16 BlogSite</title>
  </head>
  <body>

    <%= erb :"partials/nav" %>

    <%= yield %>

  </body>
</html>
