body {
  font-family: Impact;
  background: greenyellow;
  color: aqua;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin-top: 60px;
  text-align: center;
}

.dice {
  height: 350px;
  width: 350px;
  margin: 0 auto;
  margin-top: 100px;
  border: solid hotpink 4px;
  border-radius: 10px;
  box-shadow: 10px 10px 100px;
  background: hotpink;
}

.square {
  height: 115px;
  width: 114px;
  display: inline-block;
}

.dot {
  margin: 0 auto;
  border-radius: 100%;
  height: 74px;
  width: 75px;
  margin-top: 18px;
  background-color: yellowgreen;
}
/* .button{
  display: flex;
  justify-content: center;
}
button{
  font-size: 20px;
} */
