<form class="" action="/<%= @post.id %>" method="post">

  <div class="title">
    <label>Title</label>
    <input type="text" name="title" value="<%= @post.title %>" placeholder="Enter title">
  </div>
  <div class="body">
    <label>Body</label>
    <textarea type="text" name="body" placeholder="Post goes here"><%= @post.body %></textarea>
  </div>
  <div class="button">
    <input type="submit" name="" value="Save">
  </div>

  <% unless @post.id == "" %>
  <input type="hidden" name="_method" value="put">
  <% end %>
</form>
