

<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<hr>
<div class="">
  <a href="/<%= @post.id %>/edit">Edit</a>
  <form class="" action="/<%= @post.id %>" method="post">
    <input type="submit" value="Delete">
    <input type="hidden" name="_method" value="delete">
  </form>
</div>
